{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>






<div style="opacity:0.5">
  TIP: pure django не умеет websocket/sse, т.к. неасинхронный. это не admin, то и messages использовать нельзя, поэтому обновлять нужно вручную
</div>



<button id="btn-update">Обновить</button>
<button id="btn-add">Добавить</button>
<button id="btn-test">SPAWN y=t*t + 2/t, interval=1, dt=1</button>
<div id="txt-btn-add-status" style="color:red"></div>









<div id="wra-func">
  <textarea id="ta-func-textual" placeholder="функция"></textarea>
  <textarea id="ta-func-dt" placeholder="dt"></textarea>
  <textarea id="ta-func-interval" placeholder="interval"></textarea>
</div>











<div id="wra-content"></div>








<script type="text/javascript">













  // django needs token placed by him in cookies to make ajax stuff
  const csrftoken = document.cookie.split ( ';' ) .map ( e => e.split ( '=' ) ) .find ( e => e[ 0 ] === 'csrftoken' )[ 1 ]











  document.querySelector ( '#btn-update' )
    .addEventListener ( 'click', () => {

      post_updatefuncs ()

    } )





  document.querySelector ( '#btn-test' )
    .addEventListener ( 'click', () => {

      post_newfunc ( 'y=t*t + 2/t', 1, 1 )

    } )





  document.querySelector ( '#btn-add' )
    .addEventListener ( 'click', () => {

      const inputs =
        [ document.querySelector ( '#ta-func-textual' )
        , document.querySelector ( '#ta-func-dt' )
        , document.querySelector ( '#ta-func-interval' )
        ]

      post_newfunc ( ... inputs.map ( e => e.value ) )

      inputs.forEach ( e => e.value = '' )

    } )






function format_func ( s ) {

  return s.replace ( /^[yY]\s*=/, '' )

}






function post_newfunc ( textual, dt, interval ) {

  textual = format_func ( textual )


  const status = document.querySelector ( '#txt-btn-add-status' )
  status.innerText = ''

  if ( textual && dt && interval ) {

    const r = { newfunc: { textual, dt, interval } }

    const ajax = new XMLHttpRequest ()
    ajax.open ( 'POST', '/' )
    ajax.setRequestHeader ( 'Content-type', 'application/json; charset=utf-8' )
    ajax.setRequestHeader ( 'X-CSRFToken', csrftoken )
    ajax.send ( JSON.stringify ( r ) )
    ajax.addEventListener ( 'readystatechange', () => {
      if ( ajax.readyState === XMLHttpRequest.DONE && ajax.status === 200 ) {

        parse_server_response ( ajax.response, 'post_newfunc' )

      }
    } )

  }

  else {

    status.innerText = 'post_newfunc :: ' + 'textual and dt and interval must be filled properly'

  }

}





function post_updatefuncs () {

  const status = document.querySelector ( '#txt-btn-add-status' )
  status.innerText = ''

  const r = { updatefuncs: 1 }

  const ajax = new XMLHttpRequest ()
  ajax.open ( 'POST', '/' )
  ajax.setRequestHeader ( 'Content-type', 'application/json; charset=utf-8' )
  ajax.setRequestHeader ( 'X-CSRFToken', csrftoken )
  ajax.send ( JSON.stringify ( r ) )
  ajax.addEventListener ( 'readystatechange', () => {
    if ( ajax.readyState === XMLHttpRequest.DONE && ajax.status === 200 ) {

      parse_server_response ( ajax.response, 'post_updatefuncs' )

    }
  } )



}









function parse_server_response ( r, calling='' ) {

  const status = document.querySelector ( '#txt-btn-add-status' )
  status.innerText = ''

  try {

    r = JSON.parse ( r )

    if ( 'updatefuncs' in r ) {

      const table = document.createElement ( 'table' )

      const head_tr = document.createElement ( 'tr' )
      head_tr.append ( ... [ 'id', 'textual', 'dt', 'interval', 'datetime', 'status' ].map ( e => {
        const th = document.createElement ( 'th' )
        th.innerText = e
        return th
      } ) )

      table.append ( head_tr, ... r[ 'updatefuncs' ].reverse () .map ( e => func_tr ( e ) ) )


      const content = document.querySelector ( '#wra-content' )
      content.innerHTML = ''
      content.append ( table )

    }

  } catch ( e ) {

    status.innerText = calling + r

  }


}





function func_tr ( { id, textual, dt, interval, image, exception, datetime } ) {


  const tds = [ id, textual, dt, interval, datetime ].map ( e => {
    td = document.createElement ( 'td' )
    td.innerText = e
    return td
  } )


  const b = document.createElement ( 'td' )


  if ( image ) {

    img = new Image ()
    img.src = 'data:image/png;base64,' + image
    b.append ( img )

  } else if ( exception ) {

    b.style.color = 'hotpink'
    b.innerText = exception

  } else {

    b.style.color = 'lightblue'
    b.innerText = 'in queue or forgotten'

  }


  const tr = document.createElement ( 'tr' )
  tr.append ( ...tds, b )


  return tr
}






// deprecated
function func_node ( { id, textual, dt, interval, image, exception, datetime } ) {

  const a = document.createElement ( 'span' )
  a.innerText = JSON.stringify ( { id, textual, dt, interval, datetime } )

  const b = document.createElement ( 'span' )

  if ( image ) {

    img = new Image ()
    img.src = 'data:image/png;base64,' + image
    b.append ( img )

  } else if ( exception ) {

    b.style.color = 'hotpink'
    b.innerText = exception

  } else {

    b.style.color = 'lightblue'
    b.innerText = 'in queue or forgotten'

  }

  const w = document.createElement ( 'div' )
  w.append ( a, b )
  return w

}




</script>
