#wra-func {
  /*display: none;*/
}

#wra-func.show {
  display: block;
}

#btn-update {

}


img {
  width: 25%;
}

img:hover {
  width: 100%;
}



/* stolen from https://www.w3schools.com/css/css_table.asp */

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

